<section class="show-comments row-fluid">
  <% @article.comments.each do |comment| %>
  <header class="row-fluid page-header">

    <section class="comment-image span2 columns pull-left">
      <div>
        <ul class="thumbnails">
          <li>
            <a href="#" class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="comment-name span10 pull-right">
      <div class="comment-name">
        <h4><%= comment.name %>
          <span class="comment-date">
            <%#= comment.date %>2 Days ago
          </span>
        </h4>
      </div>

      <div class="comment-content">
        <p><%= comment.content %></p>
      </div>
    </section>
  </header>
  <% end %>
</section>

<section class="comments">
  <div id="post-comments">
    <%= form_for([@article, @article.comments.build]) do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :style => "width:250px" %>
    </div>
    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content, :rows => '6', :style => "width:540px" %>
    </div>
    <div class="actions">
      <%= f.submit "Post Comment" %>
    </div>
    <% end %>
  </div>
</section>
