<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class="row-fluid span12 columns section-one">
    <div class="field span6 columns pull-left">
      <%= f.label :title %>
      <%= f.text_field :title, :style => "width:400px" %>
    </div>
    <div class="field span6 columns pull-right">
        <%= f.label :position %>
      <%= f.number_field :position, :style => "width:140px" %>
    </div>
  </section>

  <section class="row-fluid span 12 columns section-two">
    <div class="field pull-left">
      <%= f.label :title_image %>
      <%= f.text_area :title_image, :rows => 12, :style => "width:740px" %>
    </div>
  </section>

  <section class="row-fluid span 12 columns section-three">
    <div class="field span6 columns pull-left">
      <%= f.label :introduction %>
      <%= f.text_area :introduction, :rows => 6, :style => "width:740px" %>
    </div>
  </section>

  <section class="row-fluid span 12 columns section-four">
    <div class="field span12 columns pull-left">
      <%= f.label :description %>
      <%= f.text_area :description, :rows => 72, :style => "width:740px" %>
    </div>
  </section>

  <section class="row-fluid span 12 columns section-five">
    <div class="field span12 columns pull-left">
      <%= f.label :footnotes %>
      <%= f.text_area :footnotes, :rows => 24, :style => "width:740px" %>
    </div>
  </section>

  <section class="row-fluid span 12 columns section-six">
    <div class="actions span12 columns section-six">
      <%= f.submit %>
    </div>
  </section>

<% end %>
