<%= form_for @article, :html => { :multipart => true } do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section role="navigation">
    <ul class="pager pull-left">
      <li id="fnref:title-image" class="footnote">
        <a href="#fn:title-image">Title Image</a>
      </li>
      <li id="fnref:introduction" class="footnote">
        <a href="#fn:introduction">Introduction</a>
      </li>
      <li id="fnref:description" class="footnote">
        <a href="#fn:description">Description</a>
      </li>
      <li id="fnref:footnotes" class="footnote">
        <a href="#fn:footnotes">Footnotes</a>
      </li>
    </ul>
  </section>

  <section class="row-fluid span12 columns section-one">
    <div class="field span6 columns pull-left">
      <%= f.label :title %>
      <%= f.text_field :title, :style => "width:400px" %>
    </div>
    <div class="field span6 columns pull-right">
      <%= f.label :position %>
      <%= f.number_field :position, :style => "width:140px" %>
    </div>
  </section>

  <section class="row-fluid span 12 columns section-two">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </section>
  
  <section class="row-fluid span 12 columns section-two">
    <div class="field pull-left">
      <p id="fn:title-image"><%= f.label :title_image %></p>
      <%= f.text_area :title_image, :rows => 18, :style => "width:740px" %>
    </div>
  </section>

  <section>
    <ul class="actions pager span8 columns pull-right">
      <%= f.submit %>
      <a href="#">Back to top</a>
    </ul>
  </section>

  <section class="row-fluid span 12 columns section-three">
    <div class="field span6 columns pull-left">
      <p id="fn:introduction"><%= f.label :introduction %></p>
      <%= f.text_area :introduction, :rows => 18, :style => "width:740px" %>
    </div>
  </section>

  <section>
    <ul class="actions pager span8 columns pull-right">
      <%= f.submit %>
      <a href="#">Back to top</a>
    </ul>
  </section>

  <section class="row-fluid span 12 columns section-four">
    <div class="field span12 columns pull-left">
      <p id="fn:description"><%= f.label :description %></p>
      <%= f.text_area :description, :rows => 96, :style => "width:740px" %>
    </div>
  </section>

  <section>
    <ul class="actions pager span8 columns pull-right">
      <%= f.submit %>
      <a href="#">Back to top</a>
    </ul>
  </section>

  <section class="row-fluid span 12 columns section-five">
    <div class="field span12 columns pull-left">
      <p id="fn:footnotes"><%= f.label :footnotes %></p>
      <%= f.text_area :footnotes, :rows => 48, :style => "width:740px" %>
    </div>
  </section>

  <section>
    <ul class="actions pager span8 columns pull-right">
      <%= f.submit %>
      <a href="#">Back to top</a>
    </ul>
  </section>

  <section class="span12">
    <div class="field">
      <%= f.label :published_at %>
      <%= f.datetime_select :published_at %>
    </div>
  </section>

<% end %>
