<!-- Main Article
  ===================================================== -->
  <section role="alertdialog" id="admin">
    <ul class="nav">
      <li><%= link_to 'New Article', new_article_path %></li>
    </ul>
  </section>

  <article class="container-fluid">
    <div class="row-fluid">

      <section role="main" class="span9 article-brief">
        <h1 class="about"><small>List of Articles</small></h1>

        <% @articles.each do |article| %>
        <header class="row-fluid page-header">

          <section class="span4 pull-left">
            <ul class="thumbnails">
              <li>
                <div class="thumbnail">
                  <%= link_to image_tag(article.image.url, :size => "200x150"), article %>
                </div>
              </li>
            </ul>
          </section>

          <section class="span8 pull-right article-text">
            <h4 class="accent">
              <span class="article-position">
                Article #<%= article.position %> &ndash;
              </span>
              <span class="article-published_at">
                <%= article.published_at.strftime('%b %d, %Y') %> &nbsp;
              </span>
              <span class="article-comments-size">
                <%= link_to pluralize(article.comments.size, "comment"),
                  article_path(article, 
                  :view => "comments"), 
                  :class => "comment_count" %>
              </span>
            </h4>

            <h3 class="article-title accent">
              <%= link_to article.title, article %>
            </h3>

            <p class="article-intro">
              <%= truncate(strip_tags(article.introduction), :length => 500, :separator => ' ') %>..
              <%= link_to 'read more', article %>
            </p>
          </section>

        </header>
        <% end %>

        <footer class="pagination pull-right page-header">
          <%= will_paginate :previous_label => h("<"), :next_label => h(">") %>
        </footer>
      </section>

      <section role="complementary" id="side-bar" class="span3 columns">
        <%= render 'layouts/tags' %>
      </section>

    </div>
  </article>