<article class="row-fluid">
<div class="span12 columns">

  <section>
    <ul class="nav">
      <li><%= link_to 'New Article', new_article_path %></li>
    </ul>
  </section>

  <section>
    <% @articles.each do |article| %>

    <header class="row-fluid">
      <%= article.title %>
    </header>

    <li><%= link_to 'Show', article %></li>
    <li><%= link_to 'Edit', edit_article_path(article) %></li>
    <li><%= link_to 'Destroy', article, confirm: 'Are you sure?', method: :delete %></li>

    <section>
      <%= article.introduction %>
      <%= article.description %>
    </section>
    <% end %>
  </section>

</div>
</article>