<article class="row-fluid">
<div class="span12 columns">

  <section id="admin" class="row-fluid">
    <ul class="nav">
      <li><%= link_to 'New Article', new_article_path %></li>
    </ul>
  </section>

  <section class="article-brief row-fluid">
    <% @articles.each do |article| %>
    <header class="row-fluid">

      <section class="article-image span4 columns pull-right">
        <div>
          <ul class="thumbnails">
            <li>
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/260x180" alt="">
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="article_text span8 pull-right">
        <p class="article_position">
          <strong>Article
            <span>#<%#= article.position %> - </span>
          </strong>
          <span><%#= article.published_at.strftime('%b %d, %Y') %></span>
        </p>

        <p class="article_title">
          <strong>
            <span><%= link_to article.title, article%></span>
          </strong>
        </p>

        <p class="article_intro">
          <%= truncate(strip_tags(article.introduction),
            :length => 500, :separator => ' ') %>..
          <%= link_to 'read more', article %>
        </p>
      </section>

    </header>
    <% end %>
  </section>

  <section class="article-paginate pull-right">
    <%= will_paginate :previous_label => h("Previous Article"), :next_label => h("Next Article") %>
  </section>

</div>
</article>