<section class="row-fluid span12">
  <div class="span6 columns pull-left">

    <section class="span6">
      <p>The Book of Jack involved not only the research and writing of the book, but also the design and development of this website, which is where I will begin.</p>
      <p>Setting up my work environment required the installation of a number of primary development tools, which were installed in the same order listed here.</p>
    <section>

    <section class="row-fluid">
      <div class="thumbnail span2">
        <img src="/assets/article-images/5-colophon/osxlion.png" alt="Apple OS X Lion" title="Apple OS X Lion" width="100" height="100" />
      </div>
      <div class="span8"><a href="http://www.apple.com/macosx/what-is/" title="Mac OS X" target="_blank">OS X Lion</a> 10.7.3 Apple's desktop operating system for Macintosh computers.<sup class="footnote fn2"><a href="/colophon#fn2">[2]</a></sup>
      </div>
    </section>

    <section class="row-fluid span12">
      <div class="thumbnail span2">
        <%= image_tag "colophon/chrome.png", :size => "100x100", :alt => 'Google Chrome' %>
      </div>
      <div class="span8"><a href="https://www.google.com/chrome" title="Google Chrome" target="_blank">Chrome</a> Google's web browser and currently one of the best browser's on the Internet.
      </div>
    </section>

    <section class="row-fluid span12">
      <div class="thumbnail span2">
        <%= image_tag "colophon/xcode.jpeg", :size => "100x100", :alt => 'Apple Xcode' %>
      </div>
      <div class="span8"><a href="https://developer.apple.com/xcode/" title="Apple Xcode" target="_blank">xCode</a> Apple's powerful integrated development environment for creating great apps for Mac, iPhone, and iPad.
      </div>
    </section>

    <section class="row-fluid span12">
      <div class="thumbnail span2">
        <%= image_tag "colophon/homebrew.jpeg", :size => "100x100", :alt => 'Homebrew' %>
      </div>
      <div class="span8"><a href="http://mxcl.github.com/homebrew/" title="Homebrew" target="_blank">Homebrew</a> a package management system that is the easiest and most flexible way to install the UNIX tools Apple did not include with OS X.
      </div>
    </section>
      
    <section class="row-fluid span12">
      <div class="thumbnail span2">
        <%= image_tag "colophon/iterm2.png", :size => "100x100", :alt => 'iterm2' %>
      </div>
      <div class="span8"><a href="http://www.iterm2.com/#/section/home" title="iTerm2" target="_blank">iterm2</a> a replacement for Terminal, the command line interface for Mac OS X.
      </div>
    </section>

    <section class="row-fluid span12">
      <div class="thumbnail span2">
        <%= image_tag "colophon/zsh.png", :size => "100x100", :alt => 'zsh' %>
      </div>
      <div class="span8"><a href="http://en.wikipedia.org/wiki/Z_shell" title="Zsh, Unix Shell" target="_blank">Zsh</a> a Unix shell used as an interactive login shell and command interpreter for shell scripting.
      </div>
    </section>

    <section class="row-fluid span12">
      <div class="thumbnail span2">
        <%= image_tag "colophon/wget.jpeg", :size => "100x100", :alt => 'zsh' %>
      </div>
      <div class="span8"><a href="http://en.wikipedia.org/wiki/Wget" title="Wget" target="_blank">Wget</a> a computer program that retrieves content from web servers.
      </div>
    </section>

    <section class="row-fluid span12">
      <div class="thumbnail span2">
        <%= image_tag "colophon/ohmyzsh.jpeg", :size => "100x100", :alt => 'Oh My Zsh' %>
      </div>
      <div class="span8"><a href="https://github.com/robbyrussell/oh-my-zsh" title="Oh-my-zsh" target="_blank">Oh-my-zsh</a> a community-driven framework for managing the zsh configuration.
      </div>
    </section>

    <section class="row-fluid span12">
      <div class="thumbnail span2">
        <%= image_tag "colophon/postgresql.png", :size => "100x100", :alt => 'PostgreSQL' %>
      </div>
      <div class="span8"><a href="http://www.postgresql.org/" title="PostgreSQL" target="_blank">PostgreSQL</a> an object-relational database management system used to store data.
      </div>
    </section>

    <section class="row-fluid span12">
      <div class="thumbnail span2">
        <%= image_tag "colophon/imagemagick.jpeg", :size => "100x100", :alt => 'Image Magick' %>
      </div>
      <div class="span8"><a href="http://www.imagemagick.org" title="Image Magick" target="_blank">Image Magick</a> a software suite to create, edit, compose, or convert bitmap images.
      </div>
    </section>

    <section class="row-fluid span12">
      <div class="thumbnail span2">
        <%= image_tag "colophon/textmate.jpeg", :size => "100x100", :alt => 'TextMate' %>
      </div>
      <div class="span8"><a href="http://macromates.com/" title="TextMate" target="_blank">TextMate</a> a general-purpose text editor used to create documents.
      </div>
    </section>

    <section class="row-fluid span12">
      <div class="thumbnail span2">
        <%= image_tag "colophon/growl.jpeg", :size => "100x100", :alt => 'Growl' %>
      </div>
      <div class="span8"><a href="http://growl.info/" title="Growl" target="_blank">Growl</a> a global notification system used to send notifications about recent changes to various applications.
      </div>
    </section>

    <section class="row-fluid span12">
      <div class="thumbnail span2">
        <%= image_tag "colophon/git.png", :size => "100x100", :alt => 'Git' %>
      </div>
      <div class="span8"><a href="http://git-scm.com/" title="Git" target="_blank">Git</a> a distributed version control system used to manage changes made to documents.
      </div>
    </section>

    <section class="row-fluid span12">
      <div class="thumbnail span2">
        <%= image_tag "colophon/octocat.png", :size => "100x100", :alt => 'GitHub' %>
      </div>
      <div class="span8"><a href="https://github.com/" title="GitHub" target="_blank">GitHub</a> a web-based hosting service for software development projects that uses Git.
      </div>
    </section>

    <section class="row-fluid span12">
      <div class="thumbnail span2">
        <%= image_tag "colophon/heroku.jpeg", :size => "100x100", :alt => 'Heroku' %>
      </div>
      <div class="span8"><a href="http://www.heroku.com/" title="Heroku" target="_blank">Heroku</a> a cloud application platform used to host websites.
      </div>
    </section>
  </div>

  <section class="row-fluid">
    <div class="span5 columns pull-right">
      <p>After the primary tools have been installed, I had to set up specific tools to actually build the website. The Book of Jack was built using Ruby on Rails, so I had to create a Ruby environment by installing the following secondary development tools, in the same order listed here. </p>

  <section class="row-fluid span12">
    <div class="thumbnail span2">
      <%= image_tag "colophon/rvm.png", :size => "100x100", :alt => 'RVM' %>
    </div>
    <div class="span8"><a href="http://beginrescueend.com/">RVM</a> a command-line tool which allows you to easily install, manage, and work with multiple ruby environments.
    </div>
  </section>

  <section class="row-fluid span12">
    <div class="thumbnail span2">
      <%= image_tag "colophon/ruby.jpeg", :size => "100x100", :alt => 'Ruby' %>
    </div>
    <div class="span8"><a href="http://www.ruby-lang.org/en/">Ruby</a> a dynamic, open source programming language with a focus on simplicity and productivity.
    </div>
  </section>

  <section class="row-fluid span12">
    <div class="thumbnail span2">
      <%= image_tag "colophon/rubygems.jpeg", :size => "100x100", :alt => 'RubyGems' %>
    </div>
    <div class="span8"><a href="http://rubygems.org/">RubyGems</a> a package manager for the Ruby programming language.
    </div>
  </section>

  <section class="row-fluid span12">
    <div class="thumbnail span2">
      <%= image_tag "colophon/rails.png", :size => "100x100", :alt => 'Rails' %>
    </div>
    <div class="span8"><a href="http://rubyonrails.org">Rails</a> an open source full-stack web application framework for the Ruby programming language.
    </div>
  </section>

</div>
</section>

<section class="row-fluid">
  <div class="span4 columns pull-left">
    <p>Next up, initiate a new rails app and build a rails environment by installing specific rubygems, a highly customizable process in which no two websites would have the exact same requirements.</p>
    <p>This process will be commented on in a future article, in the meantime you can browse the <a href="https://github.com/schipperius/Jack/blob/master/Gemfile" target="_blank">Gemfile</a> for this project, you won't get a feel for the process, but you will see a list of the gems involved.</p>
  </div>

  <div class="span4 columns">
    <p>Finally, the production website needs to be deployed, which has not yet been done. (What you are currently seeing is the production website hosted by Heroku for testing purposes.) An article on this process is also forthcoming.</p>
  </div>

  <div class="span4 columns">
    <p>As you can see, getting a website up and running can be a daunting process and has required a tremendous amount of time and effort. It's not for the <a href="http://en.wikipedia.org/wiki/Atrial_fibrillation" target="_blank">faint of heart</a>, that's for sure!</p>
  </div>
</section>
