<article id="global" class="row-fluid">
<div class="span12 columns">

  <header id="bibli" class="row-fluid page-header">
    <h1 class="first"><span class="t">T</span><small><span class="firstLine">he Book of Jack was supposed to be</span><span class="small"> an entertaining exploration of the name &#147;Jack&#148;, its origins and usage, the letter &#147;j&#148; and even the sound &#147;dzh&#148;. Once I started however, this project took on a life of its own and eventually, after many iterations, morphed into this web site. <sup id="fnref:1.1" class="footnote"><a href="/about#fn:1.1">1</a></sup></span></small>
    </h1>
  </header>

    <section class="row-fluid">
      <div class="span6">
        <p class="first"><span class="a">A</span><span class="firstLine">n enumerative bibliography </span>also called compilative, reference or systematic, is an overview of publications within a particular category. The following books have been read and reread many times. I highly recommend these titles as they reflect a sampling of the best web design and development books in my library.</p>
      </div>
      <div class="span6">
        <p>If you choose to click through to Amazon and purchase one of the recommended titles, I will receive a small referral fee which will help offset the cost of hosting this site. Your support is greatly appreciated, Thank you.</p>
      </div>
    </section>

    <section class="row-fluid">
      <div class="span12">
        <div class="navbar">
          <ul>
            <a><%= image_tag("flags/canada.png", :alt => "Canada") %></a>
            <a><%= image_tag("flags/us.png", :alt => "United States") %></a>
            <a><%= image_tag("flags/uk.png", :alt => "United Kingdom") %></a>
            <a><%= image_tag("flags/germany.png", :alt => "Germany") %></a>
            <a><%= image_tag("flags/france.png", :alt => "France") %></a>
            <a><%= image_tag("flags/italy.png", :alt => "Italy") %></a>
          </ul>
        </div>
      </div>
    </section>

  <footer class="row-fluid page-footer">
    <div class="span12 columns">
      <ul>
        <li id="fn:1.1">This web site has been hand-crafted with love. Learn more about the <a href="/about#author" title="Author">author</a>. Learn more about how this site was <a href="/about#colophon" title="Colophon">built</a>. <a href="/about#fnref:1.1" class="arrow">↑</a>
        </li>
        <li id="fn:1.2">There is a very nice collection of old books from Liam Quin <a href="http://www.fromoldbooks.org/" target="_blank" title="Pictures of Old Books from the Liam Quin collection">Pictures of Old Books</a>. <a href="/about#fnref:1.2" class="arrow">↑</a>
        </li>
        <li id="fn:1.3">The letter j is the tenth letter of the Latin alphabet (yes, the same one we use to write the English language), and it was the <a href="http://en.wikipedia.org/wiki/J" target="_blank" title="The Letter J">last letter</a> to be added, being introduced in the 15th century and formally <a href="http://en.wikipedia.org/wiki/J" target="_blank" title="The Letter J">accepted</a> by the mid-17th century. <a href="/about#fnref:1.3" class="arrow">↑</a>
        </li>
        <li id="fn:1.4">What makes this version of the <a href="http://en.wikipedia.org/wiki/Geneva_Bible" target="_blank" title="Geneva Bible article from Wikipedia">Holy Bible </a>significant is that, for the very first time, a mechanically printed, mass-produced Bible was made directly available to the general public. <a href="/about#fnref:1.4" class="arrow">↑</a>
        </li>
      </ul>
    </div>
  </footer>

</div>
</article>
