<header class="jumbotron subhead" id="overview">
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><%= link_to "Forward", forward_path %></li>
      <li><%= link_to "Preface", preface_path %></li>
      <li><%= link_to "Author", author_path %></li>
      <li><%= link_to "Bibli", bibli_path %></li>
      <li><%= link_to "Colophon", colophon_path %></li>
    </ul>
  </div>
</header>
