<nav role="navigation" class="tabbable">
  <ul class="nav nav-pills">
    <li class="active"><a href="#forward" data-toggle="tab">Forward</a></li>
    <li><a href="#preface" data-toggle="tab">Preface</a></li>
    <li><a href="#author" data-toggle="tab">Author</a></li>
    <li><a href="#bibli" data-toggle="tab">Bibli</a></li>
    <li><a href="#colophon" data-toggle="tab">Colophon</a></li>
  </ul>
</nav>

<div class="tab-content">
  <div class="tab-pane active" id="forward">
    <%= render 'pages/forward' %>
  </div>
  <div class="tab-pane" id="preface">
    <%= render 'pages/preface' %>
  </div>
  <div class="tab-pane" id="author">
    <%= render 'pages/author' %>
  </div>
  <div class="tab-pane" id="bibli">
    <%= render 'pages/bibli' %>
  </div>
  <div class="tab-pane" id="colophon">
    <%= render 'pages/colophon' %>
  </div>
</div>

<div role="navigation" class="pagination">
  <ul class="pull-right">
    <li class="active">
      <a href="#forward" data-toggle="tab">1</a>
    </li>
    <li><a href="#preface" data-toggle="tab">2</a></li>
    <li><a href="#author" data-toggle="tab">3</a></li>
    <li><a href="#bibli" data-toggle="tab">4</a></li>
    <li><a href="#colophon" data-toggle="tab">5</a></li>
  </ul>
</div>
