<%= link_to 'Edit', edit_colophon_path(@colophon) %> |
<%= link_to 'Back', colophons_path %> |
<%= link_to 'Destroy', @colophon, confirm: 'Are you sure?', method: :delete %>


<p id="notice"><%= notice %></p>

<p>
  <b>Position:</b>
  <%= @colophon.position %>
</p>

<p>
  <b>Permalink:</b>
  <%= @colophon.permalink %>
</p>

<div>
  <h5><%= raw @colophon.name %></h5>
  <p><%= raw  @colophon.description %></p>
</div>