<article class="row-fluid">
<div class="span12 columns">

  <header class="row-fluid page-header">
    <h1 class="first"><span class="i">I</span><small><span class="firstLine"> thought this bibliography would be a little different</span>.<span class="small"> Rather than recreating the footnotes, this bibliography looks at the books I used to build this web site.<sup id="fnref:4.1" class="footnote"><a href="/about#fn:4.1">1</a></sup></span></small>
    </h1>
  </header>

  <section class="row-fluid">
    <div class="span12">
      <p>If you choose to click through to Amazon and purchase one of the recommended titles, I will receive a small referral fee which will help offset the cost of hosting this site. Your support is greatly appreciated, Thank you.</p>
    </div>
  </section>

  <section class="row-fluid">
    <div class="span12 tabbable">

      <ul class="nav nav-pills">
        <li class="active"><a href="#1" data-toggle="tab"><%= image_tag("flags/canada.png", :alt => "Canada") %></a></li>
        <li><a href="#2" data-toggle="tab"><%= image_tag("flags/us.png", :alt => "United States") %></a></li>
        <li><a href="#3" data-toggle="tab"><%= image_tag("flags/uk.png", :alt => "United Kingdom") %></a></li>
        <li><a href="#4" data-toggle="tab"><%= image_tag("flags/germany.png", :alt => "Germany") %></a></li>
        <li><a href="#5" data-toggle="tab"><%= image_tag("flags/france.png", :alt => "France") %></a></li>
        <li><a href="#6" data-toggle="tab"><%= image_tag("flags/italy.png", :alt => "Italy") %></a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="1">
        </div>
        <div class="tab-pane" id="2">
        </div>
      </div>

    </div>
  </section>

  <footer class="row-fluid page-footer">
    <div class="span12 columns">
      <ol>

        <li id="fn:4.1">This is the <a href="/about#bibli" title="Bibli">Bibliography</a>. <a href="/about#bibli" title="Bibli"></a><a href="/about#fnref:4.1" class="arrow">↑</a></li>

      </ol>
    </div>
  </footer>

</div>
</article>
