<article class="row-fluid">
<div class="span12 columns">

  <header class="row-fluid page-header">
    <h1 class="first"><span class="i">I</span><small><span class="firstLine">n early printed books,</span><span class="small"> the colophon was a brief description of the 'making of' a book.<sup id="fnref:1.1" class="footnote"><a href="/about#fn:1.1">[1]</a></sup> The making of this Website was far from brief.<sup id="fnref:1.2" class="footnote"><a href="/about#fn:1.2">[2]</a></sup><sup id="fnref:1.3" class="footnote"><a href="/about#fn:1.3">[3]</a></sup></span></small>
    </h1>
  </header>

  <section class="row-fluid">
    <div class="span12 columns">
      <p>Learning to build a website required a lot of reading. The following books helped me along the Way.<sup id="fnref:1.4" class="footnote"><a href="/about#fn:1.4">[4]</a></sup></p>
    </div>
  </section>

  <section class="row-fluid">
    <div class="span12 tabbable">

      <ul class="nav nav-pills">
        <li><a href="#1" data-toggle="tab"><%= image_tag("flags/canada.png", :alt => "Canada") %></a></li>
        <li><a href="#2" data-toggle="tab"><%= image_tag("flags/us.png", :alt => "United States") %></a></li>
        <li><a href="#3" data-toggle="tab"><%= image_tag("flags/uk.png", :alt => "United Kingdom") %></a></li>
        <li><a href="#4" data-toggle="tab"><%= image_tag("flags/germany.png", :alt => "Germany") %></a></li>
        <li><a href="#5" data-toggle="tab"><%= image_tag("flags/france.png", :alt => "France") %></a></li>
        <li><a href="#6" data-toggle="tab"><%= image_tag("flags/italy.png", :alt => "Italy") %></a></li>
      </ul>

    </div>
  </section>

  <footer class="row-fluid page-footer">
    <div class="span12 columns">
      <ol>
        <li id="fn:1.1"><a href="http://en.wikipedia.org/wiki/Colophon_%28publishing%29" target="_blank" title="Colophon">Colophon</a>.<a href="/about#fnref:1.1" class="arrow">[<i class="icon-arrow-up"></i>]</a></li>

        <li id="fn:1.3">This is my <a href="http://en.wikipedia.org/wiki/Bookcase" title="Bookshelf">bookshelf</a>, a sort of <a href="http://en.wikipedia.org/wiki/Bibliography" title="Bibliography">bibliography</a> of the best books I read to learn web design and development. If you choose to click through to Amazon and purchase one of the recommended titles, I will receive a small referral fee which will help offset the cost of hosting this site. Your support is greatly appreciated, Thank you.<a href="/about#bibli" title="Bibli"></a><a href="/about#fnref:1.3" class="arrow">[<i class="icon-arrow-up"></i>]</a></li>

        <li id="fn:1.4">Books were not my only means of learning, the following online resources have been indispensable ...<a href="/about#fnref:1.4" class="arrow">[<i class="icon-arrow-up"></i>]</a></li>
      </ol>
    </div>
  </footer>

</div>
</article>