<nav role="navigation" id="navigation" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <%= link_to "Book of Jack", about_path, :class => "brand" %>

      <div class="nav-collapse">
        <ul class="nav">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="nav-header">Front Matter</li>
              <li><a href="#">Contents</a></li>
              <li><a href="#">Foreword</a></li>
              <li><a href="#">Preface</a></li>
              <li><a href="#">Acknowledgements</a></li>
              <li><a href="#">Author</a></li>
              <li><a href="#">Introduction</a></li>
              <li class="divider"></li>
              <li class="nav-header">Body</li>
              <li><%= link_to "Articles", about_path %></li>
              <li><%= link_to "Galleries", galleries_path %></li>
              <li><%= link_to "Maps", maps_path %></li>
              <li class="divider"></li>
              <li class="nav-header">Back Matter</li>
              <li><a href="#">Bibliography</a></li>
              <li><a href="#">Colophon</a></li>
              <li><a href="#">Copyright</a></li>
              <li><a href="#">Epigraph</a></li>
           </ul>
          </li>
          <li><%= link_to "Browse Articles", about_path %></li>
        </ul>

        <form role="search" class="navbar-search">
          <input type="text" class="search-query span3" placeholder="Search Articles">
        </form>

        <ul class="nav">
          <li><%= link_to "Galleries", galleries_path %></li>
          <li><%= link_to "Maps", maps_path %></li>
        </ul>

        <ul class="nav pull-right">
          <li><%= link_to "Sign In", about_path %></li>
        </ul>

      </div>

    </div>
  </div>
</nav>