<!DOCTYPE html>

<html>

<head>
  <%= render 'layouts/head' %>
</head>

<body onload="initialize()" id="container" class="container-fluid" data-spy="scroll" data-target=".subnav" data-offset="50">

  <nav role="navigation" class="navbar navbar-fixed-top">
    <%= render 'layouts/nav' %>
  </nav>

  <header role="banner" id="header" class="row-fluid">
    <%= render 'layouts/header' %>
  </header>

  <section role="main" class="container-fluid">
    <div class="row-fluid">

      <section class="pull-left span9">
        <%= yield %>
      </section>

      <aside role= "complementary" class="list_tag round pull-right span3">
        <%= render 'layouts/aside' %>
      </aside>

    </div>
  </section>

  <footer role="contentinfo" class="navbar navbar-fixed-bottom">
    <%= render 'layouts/footer' %>
  </footer>

  <%= javascript_include_tag "application" %>

</body>

</html>
