<!DOCTYPE html>

<html>


  <%= render 'layouts/head' %>


<body id="container" class="container-fluid" onload="initialize()">

    <%= render 'layouts/nav' %>

  <header role="banner" id="header" class="row-fluid">
    <hgroup id="hgroup">
      <h1><span>The Book of Jack</span></h1>
      <h2><span>An entertaining exploration of all things Jack</span></h2>
    </hgroup>
  </header>

  <section role="main" class="container-fluid">
    <div class="row-fluid">
      <section class="span12 columns">
        <%= yield %>
      </section>
    </div>
  </section>

    <%= render 'layouts/footer' %>

  <%= javascript_include_tag "application" %>

  <script type="text/javascript"  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAUtjRWrLuGoE4rD4RROzPLdzTg_vgb8VA&amp;sensor=false">
  </script>

</body>

</html>
